{% extends 'base/delete_base.html' %}

{% block title %}Product List{% endblock title %}

{% block head %}

<style>
    .btn_downlaod {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
    }
    
    /* Darker background on mouse-over */
    .btn_downlaod:hover {
      background-color: RoyalBlue;
    }
    </style>

{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}


<p>
    
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Stock Report
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      

        <form method="get" action="{% url 'generate_report_main' %}" style="padding:15px;">

            {% csrf_token %}

            <div class="form-group">

                {{ filter_inward.form }}
            
            </div> <br>
            
            <button class="btn btn-primary" type="submit" > Search </button>

        </form>
    </div>
  </div>

  

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Stock List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Company Name</th>
                                <th>Company Goods Name</th>
                                <th>Goods Company Name</th>
                                <th>Total Packet</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for i in data %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ i.company.company_name }}</td>
                                <td>{{ i.company_goods.name }}</td>
                                <td>{{ i.goods_company.goods_company_name }}</td>
                                <td>{{ i.total_bag }}</td>
                              
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>






{% endblock content %}