{% extends 'base/base.html' %}

{% block title %}Dashboard{% endblock title %}


{% block head %}


<style>

    ul#notificationList {
        list-style-type: none;
        padding: 0;
    }

    ul#notificationList li {
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        margin: 5px;
        padding: 10px;
    }


    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.container1212{
  font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat', sans-serif;

    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}
.container1212:before{
    content: '';
    position: absolute;
    height: 450px;
    top: -6rem;
    left: -4.5rem;
    opacity: .3;
}
.container1212:after{
    content: '';
    position: absolute;
    width: 600px;
    height: 350px;
    border-radius: 50% 33% 50% 50%;
    top: -5rem;
    right: -4rem;
    z-index: -1;
    opacity: .5;
}
.container1212 > .box1, .container >.box2{
    padding: 1rem 1rem 2rem;
    position: relative;
    border-radius: 10px;
    background-color:#ffffff ;
    box-shadow: 0 0 10px #f8f4ff, 0 0 10px #b5a6c1;
    overflow: hidden;
}
.container1212 .xmark-box{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #f9f9fb;
    color: #555662;
    width: 20px;
    height: 20px;
    border-radius: 0;
    border-radius: 50%;
    box-shadow: 0 0 0 2.5px #f9f9fb;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
}
.container1212 .xmark-box:hover{
    opacity: .8;
}
.container1212 > .box1 > .caption-box, .container1212 > .box2 > .caption-box{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}
.container1212 > .box1:after{
    content: '';
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #d6ebf4;
    opacity: .4;
    border-radius: 50%;
    top: 1.5rem;
    left: -9rem;
    rotate: 92deg;
}
.container1212 > .box2:after{
    content: '';
    position: absolute;
    width: 300px;
    height: 100px;
    background-color: #facaf3;
    opacity: .4;
    border-radius: 50%;
    top: 1.5rem;
    left: -9rem;
    rotate: 92deg;
}
.container1212 img{
    width: 30px;
    height: 30px;
}
.container1212 .caption-box{
    margin-top: .8rem;
}
.container1212 .caption{
    margin-left: .7rem;
}
.container1212 .caption h5 {
    margin: 1rem 0 .5rem;
    font-size: 15px;
}
.container1212 .caption p{
    font-size: 14px;
}



</style>


{% endblock head %}

{% block content %}

{% comment %} 
    <a href="{% url 'report_daily' %}"> <button class="btn btn-primary" type="submit">
        Daily Report
    </button> </a>
    
    <a href="{% url 'generate_report_main' %}"> <button class="btn btn-primary" type="submit">
        Monthly Report
    </button> </a><br><br> {% endcomment %}

    <!-- Widgets  -->

    
        <div class="container1212" style="margin-bottom: 15px;" id="notificationDiv">
           
        </div>
        
    
    
    
    
    
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ godown }}</span></div>
                                <div class="stat-heading">Godown</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-cart-plus"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ stock }}</span></div>
                                <div class="stat-heading">Stock</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

    
    <div class="form-group" style="display: flex">

        <form action="{% url 'generate_product_qr' %}" method="post" style="display: flex; gap: 40px;">

            {% csrf_token %}

            <input type="text" class="form-control" style="width : 263px;" name="quantity" placeholder="Enter Material Quantity">
            <button type="submit" class="btn btn-success form-input"> Generate QR </button>

        </form>


         <a style="margin-left : 20px;" href="{% url 'scanner_page' %}">   <button type="button" style="background: orange; border: orange;" class="btn btn-success form-input"> Scan QR </button> </a>
         <a style="margin-left : 20px;" href="{% url 'show_scanner_assign_matarial_qr' %}">   <button type="button" style="background: orange; border: orange;" class="btn btn-success form-input"> Update QR </button> </a>


    </div>


    <!-- /Widgets -->
    
    <div class="clearfix"></div>

    <!-- Orders -->
    {% comment %} <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Orders </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Supplier</th>
                                        <th>Product</th>
                                        <th>Design</th>
                                        <th>Color</th>
                                        <th>Buyer</th>
                                        <th>Season</th>
                                        <th>Drop</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if orders %}
                                    {% for order in orders %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ order.supplier }}</td>
                                        <td>{{ order.product }}</td>
                                        <td>{{ order.design }}</td>
                                        <td>{{ order.color }}</td>
                                        <td>{{ order.buyer }}</td>
                                        <td>{{ order.season }}</td>
                                        <td>{{ order.drop }}</td>
                                        <td>{{ order.created_date }}</td>
                                        <td>
                                            {% if order.status == 'pending' %}
                                                <a class="btn btn-warning" href="">{{ order.status }}</a>
                                            {% elif order.status == 'decline' %}
                                                <a class="btn btn-danger" href="">{{ order.status }}</a>
                                            {% elif order.status == 'complete' %}
                                                <a class="btn btn-success" href="">{{ order.status }}</a>
                                            {% elif order.status == 'approved' %}
                                                <a class="btn btn-primary" href="">{{ order.status }}</a>
                                            {% elif order.status == 'bulk' %}
                                                <a class="btn btn-secondary" href="">{{ order.status }}</a>
                                            {% else %}
                                                <a class="btn btn-info" href="">{{ order.status }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Order Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->

            
        </div>
    </div> {% endcomment %}
    <!-- /.orders -->

    <audio autoplay muted id="notificationSound">
        <source src="static/audio/popup.mp3" type="audio/mpeg">
    </audio>

    
{% endblock content %}


{% block js %}


    <script>

        function playNotificationSound() {
            // Create an AudioContext and play the notification sound
           
              let audio = new Audio("static/audio/popup.mp3");
                audio.play();
          }
          
          
          
          
          

          
        const notificationList = document.getElementById('notification-list');
        const socket = new WebSocket('ws://shopinventory.pythonanywhere.com/ws/some_path/');
        
        socket.onopen = () => {
            console.log('WebSocket connection opened.');
        };

        socket.onmessage = (event) => {
            console.log('something');


            var currentUser = "{{ request.user.is_reception }}";
            var notificationDiv = document.getElementById('notificationDiv');
            var closeNotificationButton = document.getElementById('closeNotification'); // Get the close button by its ID

            var userStatusElement = document.getElementById('userStatus');
            if (currentUser == "True") {
                const notification = JSON.parse(event.data);
                console.log(notification)
                // Create a new div for the notification
                var notificationDiv = document.getElementById('notificationDiv');

            // Create a new div for the notification
            var notificationItem = document.createElement('div');
            notificationItem.className = 'box1';

            // Add content to the notification div
            var notificationContent = `
                <div class="xmark-box">
                    <i class="fa-solid fa-x" id="closeNotification"></i>
                </div>
                <div class="caption-box">
                    <img src="https://www.pngall.com/wp-content/uploads/2/Approved-PNG-Download-Image.png" alt="approveimg">
                    <div class="caption">
                        <h5>HI,</h5>
                        <p>${notification.message.entry}</p>
                    </div>
                </div>
            `;
            notificationItem.innerHTML = notificationContent;

            // Add a click event listener to the close button
            var closeButton = notificationItem.querySelector('#closeNotification');
            closeButton.addEventListener('click', function () {
                // Remove the notification item when the close button is clicked
                notificationDiv.removeChild(notificationItem);
            });

            // Append the notification item to the notificationDiv
            notificationDiv.appendChild(notificationItem);

            // Play the notification sound
            playNotificationSound();
        }
        };

        socket.onclose = (event) => {
            if (event.wasClean) {
                console.log(`WebSocket connection closed, code=${event.code}, reason=${event.reason}`);
            } else {
                console.error('WebSocket connection abruptly closed');
            }
        };
        if ('Notification' in window) {
            Notification.requestPermission().then(permission => {
              if (permission === 'granted') {
                // Permission granted, you can now send notifications (including sound) without asking again until revoked.
              } else if (permission === 'denied') {
                // Permission denied, handle accordingly.
              } else {
                // Permission dismissed or unavailable, handle accordingly.
              }
            });
          }
        
    </script>

    <script src="https://kit.fontawesome.com/8535745612.js" crossorigin="anonymous"></script>



{% endblock js %}