{% extends 'base/base.html' %}



{% block title %}Submit{% endblock title %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}



{% block head %}
<style>
    .select2-container {
        width: 100% !important;
    }

    .select2-container .select2-selection--single {
        height: 37px !important;
        padding: 4px;
    }

    .select2-selection__arrow {
        height: 37px !important;
    }
</style>
{% endblock head %}


{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Item Code</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" >
                            {% csrf_token %}

                           
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Customer</label>
                                {{ form.customer }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Item Code</label>
                                {{ form.code }}
                            </div>
                            

                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Submit</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}




{% block js %}
<!-- Select2 CDN -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
   

    $(document).ready(function() {
    $('.select2').select2();  // this activates all elements with class="select2"
});

</script>
{% endblock js %}