{% extends 'base/base.html' %}



{% block title %}Create Product{% endblock title %}

{% block head %}




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    
<style>


    #video {
        display: none;
    }


    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }
    
    
    .table th, .table thead th {
        font-weight: 500;
    }
    
    
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    
    
    .table th {
        padding: 1rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    
    
    .table th, .table thead th {
        font-weight: 500;
    }
    
    
    th {
        text-align: inherit;
    }
    
    
</style>

{% endblock head %}

{% block content %}


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title w-100">Awesome!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Your booking has been confirmed. Check your email for detials.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>     


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Production Details</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form onsubmit="submitForm(event)" id="submitform" method="post">
                            {% csrf_token %}

                            
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Employee Name</label>
                                {{ form.employee_name }}
                               
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Customer Name</label>
                                {{ form.customer }}
                               
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Description </label>
                                {{ form.description }}
                               
                            </div>


                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Date</label>
                                {{ form.DC_date }}

                                <input type="checkbox" id="completed" name="completed">
                                <label for="completed">Completed</label>

                            </div>

                            <hr>

                            
                            <label for="name" class="control-label mb-1"> Raw Material Details</label>

                           
                             

                            <table class="table">
                                <thead class="thead-light" style="background: #e3e3e3;">
                                    <tr>
                                        <td> Sheet No </td>
                                        <td> Category </td>
                                        <td> Size </td>
                                        <td> Grade </td>
                                        <td> Thickness </td>
                                        <td> Item Code </td>
                                        <td> Production Quantity </td>
                                        <td> Action </td>
                                        
                                        
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for i in data %}

                                        {% for z in i.project_material_re.all %}

                                        <tr>
                                            <input type="hidden" id="materials" name="materials" value="{{ z.id }}">
                                            <td> {{ z.project_material.sheet_no }} </td>
                                            <td>{{ z.project_material.product.category }}</td>
                                            <td>{{ z.project_material.product.size }}</td>
                                            <td>{{ z.project_material.product.grade }}</td>
                                            <td>{{ z.project_material.product.thickness }}</td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button id="add-row-button" type="button" value="{{ z.id }}" class="btn btn-primary add-row-below">Add Row</button>

                                            </td>
                                        
                                        {% for s in z.project_matarial_qr_production.all %}
                                        <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td> <select name="item_code" class="form-control" id="bag_size">
                                            
                                            <option value="{{  s.item_code.id }}" selected> {{ s.item_code }} </option>

                                            <option value="">---------</option>
                                            {% for y in item_code_data %}
                                                
                                                <option value="{{ y.id }}">{{ y }}</option>
                                                
                                            {% endfor %}
                                          </select> <input type="hidden" value="{{ s.id }}" name="production_id">
                                          <input type="hidden" value="{{ z.id }}" name="materials"> </td>
                                            <td> <input type="number" value="{{ s.production_quantity }}" name="production_quantity" class="form-control" id="bag_size"> </td>
                                            
                                            <td> <input type="hidden" name="production_id" value="{{ s.id }}"> <button class="btn btn-danger"> <a href="{% url 'delete_production_entry' project_id s.id %}" > Remove </a> </button>  </td>
                                       
                                        </tr>
                                        {% endfor %}


                                    {% endfor %}
                                    {% endfor %}

                                
                                    </tbody>

                                </table>  


                                <br>

 <br>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Update Production</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>


{% endblock content %}

{% block js %}
    

<script>


// Add an event listener to the "Add Row" button
document.querySelectorAll('.add-row-below').forEach(function (button) {
    let material_value;
    button.addEventListener('click', function (event) {
        // Access the value of the clicked button
        material_value = event.target.value;

        // Now you can use the material_value as needed

    });


    button.addEventListener('click', function () {
        const currentRow = button.closest('tr');
        const tableBody = currentRow.parentNode;
        const newRow = document.createElement('tr');

    // Create empty columns for the first 4 columns
    for (let i = 0; i < 5; i++) {
        const emptyColumn = document.createElement('td');
        newRow.appendChild(emptyColumn);
    }

    // Create a select element for the "Item Code" column
   // Create a custom dropdown for the "Item Code" column
// Create a custom dropdown for the "Item Code" column
const itemCodeColumn = document.createElement('td');
const customItemCodeSelect = document.createElement('select');
customItemCodeSelect.setAttribute('name', 'item_code');
customItemCodeSelect.setAttribute('class', 'form-control');

// Create an option for the custom dropdown
function createCustomOption(value, text) {
    const customOption = document.createElement('option');
    customOption.value = value;
    customOption.textContent = text;
    return customOption;
}

// Add the default "---------" option
customItemCodeSelect.appendChild(createCustomOption('', '---------'));

// Add your custom options here using a loop (similar to your Django template code)
{% for y in item_code_data %}
    customItemCodeSelect.appendChild(createCustomOption('{{ y.id }}', '{{ y }}'));
{% endfor %}

itemCodeColumn.appendChild(customItemCodeSelect);
newRow.appendChild(itemCodeColumn);

// Create an input element for the "Production Quantity" column
const productionQuantityColumn = document.createElement('td');
const productionQuantityInput = document.createElement('input');
productionQuantityInput.setAttribute('type', 'number');
productionQuantityInput.setAttribute('name', 'production_quantity');
productionQuantityInput.setAttribute('class', 'form-control');

productionQuantityColumn.appendChild(productionQuantityInput);
newRow.appendChild(productionQuantityColumn);

    
    // Create an input element for the "Materials" column
    const materialsColumn = document.createElement('td');
    const materialsInput = document.createElement('input');
    materialsInput.setAttribute('type', 'hidden'); // Assuming it's a hidden field
    materialsInput.setAttribute('name', 'production_id');
    materialsInput.setAttribute('value', '0'); // Set the value as needed
    

    
    productionQuantityColumn.appendChild(materialsInput);
    newRow.appendChild(productionQuantityColumn);

    // Create an input element for the "Materials" column
    const materialsColumn2 = document.createElement('td');
    const materialsInput2 = document.createElement('input');
    materialsInput2.setAttribute('type', 'hidden'); // Assuming it's a hidden field
    materialsInput2.setAttribute('name', 'materials');
    materialsInput2.setAttribute('value', material_value); // Set the value as needed


    productionQuantityColumn.appendChild(materialsInput2);
    newRow.appendChild(productionQuantityColumn);

    

        // Create a remove button for the row
        const removeButtonColumn = document.createElement('td');
        const removeButton = document.createElement('button');
        removeButton.setAttribute('class', 'btn btn-danger remove-row');
        removeButton.textContent = 'Remove';

        // Add an event listener to the remove button to delete the row when clicked
        removeButton.addEventListener('click', function () {
            tableBody.removeChild(newRow);
        });

        removeButtonColumn.appendChild(removeButton);
        newRow.appendChild(removeButtonColumn);

        // Append the new row to the table body below the current row
        tableBody.insertBefore(newRow, currentRow.nextSibling);
    });
});

// Add event listeners to all existing remove buttons (for initial rows)
document.querySelectorAll('.remove-row').forEach(function (button) {
    button.addEventListener('click', function () {
        const row = button.closest('tr');
        const tableBody = row.parentNode;
        tableBody.removeChild(row);
    });
});



function submitForm(e) {
    e.preventDefault();

    const rows = document.querySelectorAll('tbody tr');
    const item_code_arr = [];
    const production_quantity_arr = [];
    const production_id_arr = [];
    const materialsId_arr = [];

    rows.forEach((row) => {
        const item_code_input = row.querySelector('[name="item_code"]');
        const production_quantity_input = row.querySelector('[name="production_quantity"]');
        const production_id_input = row.querySelector('[name="production_id"]');
        const materials_input = row.querySelector('[name="materials"]'); // Assuming the name is "materials"

        console.log('item_code_input')
        console.log(item_code_input)
        console.log('production_quantity_input')
        console.log(production_quantity_input)
        console.log('production_id_input')
        console.log(production_id_input)
        console.log('materials_input')
        console.log(materials_input)

        // Check if the fields exist in the current row
        if (item_code_input && production_quantity_input && production_id_input && materials_input) {

            const item_code = item_code_input.value;
            const production_quantity = production_quantity_input.value;
            const production_id = production_id_input.value;
            const materialsId = materials_input.value; // Get the value of the "materials" input

            item_code_arr.push(item_code);
            production_quantity_arr.push(production_quantity);
            production_id_arr.push(production_id);
            materialsId_arr.push(materialsId); // Push the materialsId into the materialsId_arr
        }
    });

    const completed_checkbox = document.getElementById('completed');
    const completed = completed_checkbox.checked;


    console.log('-------------------')
    console.log(materialsId_arr)
    console.log(production_id_arr) 
    console.log(item_code_arr)
    console.log(production_quantity_arr) 


    $.ajax({                       // initialize an AJAX request
        type: "POST",
        url: '{% url "add_production" project_id %}',
        data: {
            'materialsId': [...materialsId_arr],       // add the country id to the POST parameters
            'item_code': [...item_code_arr],       // add the country id to the POST parameters
            'quantity': [...production_quantity_arr],     
            'production_id': [...production_id_arr],     
            'completed': completed,     
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
              // add the country id to the POST parameters
        },
        success: function (data) {   // `data` is from `get_topics_ajax` view function

          console.log(data)

          if(data.status == "done"){
            window.location.href = "{% url 'list_project' %}"
          }
        }
    });
    
    }



</script>

{% endblock js %}