{% extends 'base/base.html' %}



{% block title %}Create Product{% endblock title %}

{% block head %}


<style>

        .select2-container{

            width: 164.75px
        }

        .select2-container .select2-selection--single {
            height: 37px !important;
        }

</style>

{% endblock head %}

{% block content %}


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title w-100">Awesome!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Your booking has been confirmed. Check your email for detials.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>     


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Project Plan</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" id="submitform" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            
                         
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Customer Name</label>
                                {{ form.customer }}
                               
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Purchase Order No </label>
                                {{ form.order_id }}
                               
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Description </label>
                                {{ form.description }}
                               
                            </div>


                            <div class="form-group">
                                <label for="name" class="control-label mb-1">RRA Invoice No</label>
                                {{ form.rra_invoice_no }}
                                
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Date</label>
                                {{ form.DC_date }}
                                
                            </div>

                            {% comment %} <div class="form-group">
                                <label for="name" class="control-label mb-1">Design File</label>
                                {{ form.design_file }}
                               
                            </div> {% endcomment %}


                            <hr>

                            
                            <label for="name" class="control-label mb-1"> Item Code Details</label>

                           
                             


 <table id="my-table">

    <tr>
        <td> Item Code </td>
        <td> Quantity </td>
        <td>  <button type="button" class="btn btn-success add-textbox" > <i class="fa fa-plus" aria-hidden="true"></i></button>  </td>
    </tr>

    <tr id="newRow">
        <td>  
            
            <select name="item_code" class="form-control select2" id="bag_size">
                                            

                <option value="">---------</option>
                {% for y in item_code_data %}
                    
                    <option value="{{ y.id }}">{{ y }}</option>
                    
                {% endfor %}
            </select>  
            <input type="hidden" name="production_id" value=""> 
            
        </td>
        <td> 
            <input type="number" value="" name="production_quantity" class="form-control" id="bag_size"> 
        </td>
    </tr>

    <tbody>
    </tbody>

</table>  
 <br>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Add Project</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>


{% endblock content %}

{% block js %}
    

<!-- Include Select2 JS -->
<!-- Initialize Select2 -->

<script>
    
   



   $(document).ready(function() {
    var max = 10000;
    var cnt = 1;
    $(".add-textbox").on("click", function(e){
        e.preventDefault();
        if(cnt < max){
            cnt++;

           // Example JavaScript code to clone and insert the row dynamically
           const newRow = document.createElement('tr');
           newRow.innerHTML = `
               <td>
                   <select name="item_code" class="form-control" id="bag_size">
                       <option value="">---------</option>
                       {% for y in item_code_data %}
                           <option value="{{ y.id }}">{{ y }}</option>
                       {% endfor %}
                   </select> <input type="hidden" name="production_id" value=""> </td>
               </td>
               <td>
                   <input type="number" value="" name="production_quantity" class="form-control" id="bag_size"></td>
                 
              
           `;

           // Append the new row to the table
           const table = document.getElementById('my-table');
           table.appendChild(newRow);

                }
            });
        });

const tableBody = document.querySelector('#my-table tbody');

tableBody.addEventListener('click', function(event) {

    const target = event.target;
    if (target.classList.contains('remove-textbox')) {
      const row = target.closest('tr'); // Find the parent row
      if (row.parentNode.children.length > 1) {
        row.remove(); // Remove the row from the table if there are more than one rows
      }
    }
  });



  $("#submitform").on("submit", function(e) {
    // Check if any required fields are empty or disabled
    const invalidFields = $(this).find("select[required]:enabled").filter(function() {
        return !$(this).val(); // Check for empty value
    });

    if (invalidFields.length > 0) {
        // Display an error message or take appropriate action
        alert("Please fill in all required fields.");
        return false; // Prevent form submission
    }

});

function password_verify(){

    password = document.getElementById('password').value;
    employee_name = document.getElementById('employee_name').value;


    $.ajax({
        url: "{% url 'verify_password' %}",  // Replace with your actual API endpoint
        method: 'POST',  // Change the HTTP method as needed
        data: {
            'employee' : employee_name,
            'password' : password,
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function(response) {

            if(response.status == "done"){
                
                password_verification = 1

                document.getElementById('password').disabled = true;
                document.getElementById('employee_name').disabled = true;
                
                alert('Password verification done')
               
            }

            else{

                alert('Wrong password')

            }
        },
        error: function(error) {
            console.log(error);
            // Handle errors here
        }
    });

}

// Example usage: Call this function after dynamically adding a new table
// Replace 'my-table' with the actual ID of the newly added table

  $('.select2').select2();

</script>

{% endblock js %}