{% extends 'base/base.html' %}



{% block title %}Submit{% endblock title %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Product Details</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" id="myForm" method="post" >
                            {% csrf_token %}

                        
                           
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Category</label>
                                {{ form.category }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Size</label>
                                {{ form.size }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Thickness</label>
                                {{ form.thickness }}
                            </div>
                            

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Grade</label>
                                {{ form.grade }}
                            </div>


                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Date of Purchase</label>
                                {{ form_qr.date_of_pur }}
                            </div>



                            <hr>

                            
                            <label for="name" class="control-label mb-1"> Product Used History </label>

                           
                             

                            <table class="table">
                                <thead class="thead-light" style="background: #e3e3e3;">
                                    <tr>
                                        <td> Customer Name </td>
                                        <td> Size Before </td>
                                        <td> Used Size </td>
                                        <td> Left Size </td>
                                        
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for i in data %}


                                    <tr>
                                        <td> {{ i.product_qr.product.product_re.all.0.project.customer.name }}</td>
                                        <td> {{ i.previous_size }} </td>
                                        <td> {{ i.used_size }} </td>
                                        <td> {{ i.left_size }} </td>
                                        
                                    </tr>

                                    {% endfor %}

                                
                                    </tbody>

                                </table>  
 <br>
                            

                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Submit</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}


{% block js %}

<script>

    document.addEventListener("DOMContentLoaded", function() {
        var form = document.getElementById("myForm");
        var formElements = form.elements;
    
        for (var i = 0; i < formElements.length; i++) {
            formElements[i].setAttribute("required", "true");
        }
    });

</script>


{% endblock js %}