{% extends 'base/base.html' %}



{% block title %}Create Product{% endblock title %}

{% block head %}


    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    
<style>


    #video {
        display: none;
    }


    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }
    
    
    .table th, .table thead th {
        font-weight: 500;
    }
    
    
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    
    
    .table th {
        padding: 1rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    
    
    .table th, .table thead th {
        font-weight: 500;
    }
    
    
    th {
        text-align: inherit;
    }
    
    
</style>

{% endblock head %}

{% block content %}


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title w-100">Awesome!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Your booking has been confirmed. Check your email for detials.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>     


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Assign Material Qr</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form onsubmit="submitForm(event)" id="submitform" method="post">
                            {% csrf_token %}

                            
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Employee Name</label>
                                {{ form.employee_name }}
                               
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Customer Name</label>
                                {{ form.customer }}
                               
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Description </label>
                                {{ form.description }}
                               
                            </div>


                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Date</label>
                                {{ form.DC_date }}
                            </div>

                            <hr>

                            
                            <label for="name" class="control-label mb-1"> Raw Material Details</label>

                           
                             

                            <table class="table">
                                <thead class="thead-light" style="background: #e3e3e3;">
                                    <tr>
                                        <td> Category </td>
                                        <td> Size </td>
                                        <td> Grade </td>
                                        <td> Thickness </td>
                                        <td> Action </td>
                                        
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for i in data %}

                                        {% for z in i.project_material_re.all %}

                                    <tr>
                                        <td> {{ z.project_material.product.category }} </td>
                                        <td> {{ z.project_material.product.size }} </td>
                                        <td> {{ z.project_material.product.grade }} </td>
                                        <td> {{ z.project_material.product.thickness }} </td>
                                        <td>  <video id="video" width="320" height="240" autoplay></video>
                                                <button class="btn btn-success startButton" id="{{ z.id }}">Start Scanning</button>
                                                <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                    {% endfor %}

                                
                                    </tbody>

                                </table>  
 <br>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Submit Plan</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>


{% endblock content %}

{% block js %}
    

<script>

    let material_id = [];
let scanned_value = [];

document.addEventListener("DOMContentLoaded", function () {
    const video = document.getElementById("video");
    const startButtons = document.querySelectorAll(".startButton");
    let scanner = null;

    function startVideo(buttonId, camera) {
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: { deviceId: camera.id } })
                .then((stream) => {
                    video.style.display = "block";
                    video.srcObject = stream;
                    scanner = new Instascan.Scanner({ video: video });
                    scanner.addListener("scan", function (content) {
                        const scannedValue = content;
                        stopVideo(buttonId);
                        console.log("Button ID: ", buttonId, ", Scanned Value: ", scannedValue);
                        material_id.push(buttonId);
                        scanned_value.push(scannedValue);
                        console.log(material_id);
                        console.log(scanned_value);
                    });
                    scanner.start(camera);
                })
                .catch((err) => {
                    console.error("Error accessing camera:", err);
                });
        } else {
            console.error("getUserMedia not supported.");
        }
    }

    function stopVideo(buttonId) {
        if (scanner) {
            scanner.stop();
            scanner = null;
        }

        const stream = video.srcObject;
        const tracks = stream.getTracks();
        tracks.forEach(track => track.stop());
        video.srcObject = null;

        video.style.display = "none";
        startButtons.forEach((button) => {
            if (button.id === buttonId) {
                button.disabled = false;
            }
        });
    }

    startButtons.forEach((button) => {
        button.addEventListener("click", function () {
            const buttonId = this.id;
            Instascan.Camera.getCameras().then(function (cameras) {
                const backCamera = cameras.find(camera => camera.name.toLowerCase().includes('back'));
                if (backCamera) {
                    startVideo(buttonId, backCamera);
                    this.disabled = true;
                } else {
                    console.error("Back camera not found.");
                }
            });
        });
    });
});





   $(document).ready(function() {
    var max = 10;
    var cnt = 1;
    $(".add-textbox").on("click", function(e){
        e.preventDefault();
        if(cnt < max){
            cnt++;

            const newRow = document.createElement('tr');
            const tableBody = document.querySelector('#my-table tbody');

            // Create your input elements here using Django template variables
            newRow.innerHTML = `
            <td> {{ data_form.category }} </td> <td>{{ data_form.size }} </td> <td> {{ data_form.grade }} </td> <td>{{ data_form.thickness }} </td> <td> <input type="number" class="form-control" name="quantity" placeholder="Qty"> </td> <td>  <span class="input-group-btn"><button type="button" class="btn btn-danger remove-textbox"> </td>
            `;

            
                $(tableBody).append(newRow);


        }
    });
});

const tableBody = document.querySelector('#my-table tbody');

tableBody.addEventListener('click', function(event) {

    const target = event.target;
    if (target.classList.contains('remove-textbox')) {
      const row = target.closest('tr'); // Find the parent row
      if (row.parentNode.children.length > 1) {
        row.remove(); // Remove the row from the table if there are more than one rows
      }
    }
  });



  
  function submitForm(event) {
    event.preventDefault(); // Prevent form submission to avoid page reload


    $.ajax({                       // initialize an AJAX request
        type: "POST",
        url: '{% url "assign_matarial_qr" project_id %}',
        data: {
            'material_id': [...material_id],       // add the country id to the POST parameters
            'scanned_value': [...scanned_value],       // add the country id to the POST parameters
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {   // `data` is from `get_topics_ajax` view function
            alert(url)
            window.location.href = data.url
        }
    });

    
}



</script>

{% endblock js %}