{% extends 'base/base.html' %}



{% block title %}Submit{% endblock title %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Product Details</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" >
                            {% csrf_token %}

                           
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Category</label>
                                {{ form.category }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Size</label>
                                {{ form.size }}
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Thickness</label>
                                {{ form.thickness }}
                            </div>
                            

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Grade</label>
                                {{ form.grade }}
                            </div>



                            <hr>

                            
                            <label for="name" class="control-label mb-1"> Product Used History </label>

                           
                             

                            <table class="table">
                                <thead class="thead-light" style="background: #e3e3e3;">
                                    <tr>
                                        <td> Customer Name </td>
                                        <td> Size Before </td>
                                        <td> Used Size </td>
                                        <td> Left Size </td>
                                        <td> Action </td>
                                        
                                    </tr>
                                </thead>

                                <tbody>

                                    {% for i in data %}

                                        {% for z in i.project_material_re.all %}

                                    <tr>
                                        <td> {{ z.project_material.product.category }} </td>
                                        <td> {{ z.project_material.product.size }} </td>
                                        <td> {{ z.project_material.product.grade }} </td>
                                        <td> {{ z.project_material.product.thickness }} </td>
                                        <td>  <video id="video" width="320" height="240" autoplay></video>
                                                <button class="btn btn-success startButton" id="{{ z.id }}">Start Scanning</button>
                                                <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                    {% endfor %}

                                
                                    </tbody>

                                </table>  
 <br>
                            

                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Submit</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}