{% extends 'base/base.html' %}



{% block title %}Create Product{% endblock title %}

{% block head %}


<style>

        .select2-container{

            width: 164.75px
        }

        .select2-container .select2-selection--single {
            height: 37px !important;
        }

        #id_design_file {
            display: none;
        }



        textarea {
            font-size: 14px !important;
        }




</style>

{% endblock head %}

{% block content %}


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title w-100">Awesome!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Your booking has been confirmed. Check your email for detials.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>     


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Confirm Project Outward</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" id="submitform" method="post">
                            {% csrf_token %}

                         
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Customer Name</label>
                                {{ form.customer }}
                               
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Purchase Order No </label>
                                {{ form.order_id }}
                               
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Description </label>
                                {{ form.description }}
                               
                            </div>

                            <div class="form-group">
                                <label for="name" class="control-label mb-1">RRA Invoice </label>
                                {{ form.rra_invoice_no }}
                               
                            </div>


                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Date</label>
                                {{ form.DC_date }}
                                
                            </div>

                            {% comment %} <div class="form-group">
                                <label for="name" class="control-label mb-1">Design File</label>
    Currently: <a href="{{ form.design_file.value.url }}">{{ form.design_file.value }}</a><br>
                            </div> {% endcomment %}




                            <hr>

                            
                            
                                
                            <label for="name" class="control-label mb-1"> Item Code Details</label>

                           
                             



                            <table>

                                
    <p style="font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 24px;
    color: black;
    "> Note* :- <span style="width: 17px;
    height: 17px;
    display: inline-flex;
    color: orange;
    background: orange;"> </span> Orange = Not Confirmed, <span style="width: 17px;
    height: 17px;
    display: inline-flex;
    color: orange;
    background: green;"> </span> Green = Confirmed Outward</p>


                                <tr>
                                    <th> Sr no </th>
                                    <th> ID </th>
                                    <th> Item Code </th>
                                    <th> Quantity </th>
                                    <th> Small Label Count </th>
                                    <th> Main Label Count </th>
                                    <th> Action </th>
                                </tr>
                            
                                {% for i in production_data %}
                                <tr class="main-row">
                                    <td> 
                                        
                                        {{ forloop.counter }} 
                                    </td>
                                    <td> <input type="number" value="{{ i.id }}" style="width:110px;" class="form-control" readonly> </td>
                                    <td> <input type="text" value="{{ i.item_code }}" class="form-control" readonly> </td>
                                    <td> <input type="number" value="{{ i.production_quantity }}" class="form-control" readonly> </td>
                                    <td> <input type="number" value="{{ i.barcode_count }}" id="small_label_count_{{ i.id }}" class="form-control sheet-no" placeholder="Barcode Quantity"> </td>
                                    <td> <input type="number" value="{{ i.main_label }}" id="main_label_count_{{ i.id }}" class="form-control sheet-no" placeholder="Barcode Quantity"> </td>
                                    <td> <a href="#" class="btn btn-info" onclick="confirmAndRedirect({{ i.id }})">Submit</a> 
                                        
                                        <button type="button" class="toggle-row-btn" style="background:none;border:none;">
                                        &#9660; <!-- Down arrow icon -->
                                    </button>
                                
                                </td>
                                </tr>
                        

                                <p> List Small labels </p>
                                <tr class="dropdown-row" style="display:none;">
                                    <td colspan="6" style="padding-left: 60px; padding-top:10px;">
                                        <table style="border-collapse: collapse; width: 100%;">
                                            <tr>
                                                <th style="border: 1px solid black; padding: 5px;">Sr no</th>
                                                <th style="border: 1px solid black; padding: 5px;">Barcode ID</th>
                                                <th style="border: 1px solid black; padding: 5px;">Quantity</th>
                                                <th style="border: 1px solid black; padding: 5px;">Action</th>
                                            </tr>
                                            {% for related_item in i.outward_item_code_barcode.all %}
                                            <tr>
                                                <td style="border: 1px solid black; padding: 5px;">{{ forloop.counter }}</td>
                                                <td style="border: 1px solid black; padding: 5px;">{{ related_item.id }}</td>
                                                <td style="border: 1px solid black; padding: 5px;">{{ related_item.quantity }}</td>
                                                <td style="border: 1px solid black; padding: 5px;">
                                                    <a href="{% url 'generate_barcode' related_item.id %}" class="btn btn-info">Print</a>
                                                    {% if related_item.date_time %}
                                                        <a href="{% url 'confirm_outward_json' related_item.id %}">
                                                            <input type="button" style="margin-left: 10px; background:green; border-color:green;" class="btn btn-success" value="&#10004; Confirm Outward">
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url 'confirm_outward_json' related_item.id %}">
                                                            <input type="button" style="margin-left: 10px; background:orange; border-color:orange;" class="btn btn-success" value="&#10004; Confirm Outward">
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td style="border: 1px solid black; padding: 5px;"></td>
                                                <td style="border: 1px solid black; padding: 5px;"></td>
                                                <td style="border: 1px solid black; padding: 5px;"></td>
                                                <td style="border: 1px solid black; padding: 5px;">
                                                    <a href="{% url 'generate_final_barcode' i.id %}" class="btn btn-info">Print Final Barcode</a>
                                                    <a href="{% url 'generate_all_barcode' i.id %}" class="btn btn-info">Print All Barcode</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>



                                <p> List Main labels </p>

                                <tr class="dropdown-row" style="display:none;">
                                    <td colspan="6" style="padding-left: 60px; padding-top:10px;">
                                        <table style="border-collapse: collapse; width: 100%;">
                                            <tr>
                                                <th style="border: 1px solid black; padding: 5px;">Sr no m</th>
                                                <th style="border: 1px solid black; padding: 5px;">Barcode ID</th>
                                                <th style="border: 1px solid black; padding: 5px;">Quantity</th>
                                                <th style="border: 1px solid black; padding: 5px;">Action</th>
                                            </tr>
                                            {% for related_item in i.outward_item_code_main_label.all %}
                                            <tr>
                                                <td style="border: 1px solid black; padding: 5px;">{{ forloop.counter }}</td>
                                                <td style="border: 1px solid black; padding: 5px;">{{ related_item.id }}</td>
                                                <td style="border: 1px solid black; padding: 5px;">{{ related_item.quantity }}</td>
                                                <td style="border: 1px solid black; padding: 5px;">
                                                    <a href="{% url 'generate_barcode' related_item.id %}" class="btn btn-info">Print</a>
                                                    {% if related_item.date_time %}
                                                        <a href="{% url 'confirm_outward_json' related_item.id %}">
                                                            <input type="button" style="margin-left: 10px; background:green; border-color:green;" class="btn btn-success" value="&#10004; Confirm Outward">
                                                        </a>
                                                    {% else %}
                                                        <a href="{% url 'confirm_outward_json' related_item.id %}">
                                                            <input type="button" style="margin-left: 10px; background:orange; border-color:orange;" class="btn btn-success" value="&#10004; Confirm Outward">
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td style="border: 1px solid black; padding: 5px;"></td>
                                                <td style="border: 1px solid black; padding: 5px;"></td>
                                                <td style="border: 1px solid black; padding: 5px;"></td>
                                                <td style="border: 1px solid black; padding: 5px;">
                                                    <a href="{% url 'generate_final_barcode' i.id %}" class="btn btn-info">Print Final Barcode</a>
                                                    <a href="{% url 'generate_all_final_barcode' i.id %}" class="btn btn-info">Print All Barcode</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            {% endfor %}
                        </table>
 <br>



             
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>

                            
                           


{% endblock content %}

{% block js %}
    

<!-- Include Select2 JS -->
<!-- Initialize Select2 -->

<script>


    $(document).ready(function() {

    
   $(document).ready(function() {
    var max = 10000;
    var cnt = 0;
    $(".add-textbox").on("click", function(e){
        e.preventDefault();
        if(cnt < max){
            cnt++;

            const newRow = document.createElement('tr');
            const tableBody = document.querySelector('#my-table tbody');

            // Create your input elements here using Django template variables
            newRow.innerHTML = `
             <td> ${cnt}  </td>
             <td>   <textarea  class="form-control sheet-no" name="description1" placeholder="Description" rows="4" cols="50" > </textarea> </td>
        <td>   <input type="text" class="form-control sheet-no" name="quantity"  placeholder="Quantity"> </td>
        <td>   <input type="text" class="form-control sheet-no" name="amount"  placeholder="Amount"> </td>
        <td>   <input type="date" class="form-control sheet-no" name="date"  placeholder="amount"> </td>
         </tr> <td style="margin-left : 10px;">  <span class="input-group-btn"> <button type="button" class="btn btn-danger remove-textbox"> <i class="fa fa-minus" aria-hidden="true"></i>  </td> </td>
            `;
            
            
                $(tableBody).append(newRow);
                
                disableDropdownsInTable('my-table');

        }
    });
});

const tableBody = document.querySelector('#my-table tbody');

tableBody.addEventListener('click', function(event) {

    const target = event.target;
    if (target.classList.contains('remove-textbox')) {
      const row = target.closest('tr'); // Find the parent row
      if (row.parentNode.children.length > 1) {
        row.remove(); // Remove the row from the table if there are more than one rows
      }
    }
  });





  


  



});





$(document).ready(function() {
    // Select the input fields you want to make read-only by their IDs or other selectors

    $("#employee_name, #customer").prop("disabled", true);

    $("#description, #id_DC_date, #order_id").prop("readonly", true);
    
});



document.querySelectorAll('.toggle-row-btn').forEach(button => {
    button.addEventListener('click', function() {
        // Get the current row
        const currentRow = this.closest('tr');

        // Get the next two siblings
        const firstDropdownRow = currentRow.nextElementSibling;
        const secondDropdownRow = firstDropdownRow?.nextElementSibling;

        // Check if the rows exist and toggle their visibility
        if (firstDropdownRow && secondDropdownRow) {
            const isHidden = firstDropdownRow.style.display === "none";

            // Toggle both rows
            firstDropdownRow.style.display = isHidden ? "table-row" : "none";
            secondDropdownRow.style.display = isHidden ? "table-row" : "none";

            // Update the button icon
            this.innerHTML = isHidden ? "&#9650;" : "&#9660;"; // Up arrow when rows are shown, down arrow when hidden
        }
    });
});



function confirmAndRedirect (id) {

    if (confirm('Please confirm!')) {
        // Get the barcode quantity value from the input field
        var small_label_count = document.getElementById('small_label_count_' + id).value;
        var main_label_count = document.getElementById('main_label_count_' + id).value;
        

        // Redirect to the new URL
        window.location.href = `{% url 'add_project_outward_new' 'ID_PLACEHOLDER' 'BARCODE_PLACEHOLDER1' 'BARCODE_PLACEHOLDER2' %}`.replace('ID_PLACEHOLDER', id).replace('BARCODE_PLACEHOLDER1', small_label_count).replace('BARCODE_PLACEHOLDER2', main_label_count);
    }
}



</script>

{% endblock js %}