{% extends 'base/base.html' %}

{% block title %}Stock List{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Stock List</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Material Name <input type="text" style="width: 124px;" id="filter-material"></th>
                                <th>Length MM <input type="text" style="width: 124px;" id="filter-length"></th>
                                <th>Width MM <input type="text" style="width: 124px;" id="filter-width"></th>
                                <th>Size <input type="text" style="width: 124px;" id="filter-size"></th>
                                <th>Grade <input type="text" style="width: 124px;" id="filter-grade"></th>
                                <th>Thickness <input type="text" style="width: 124px;" id="filter-thickness"></th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                                {% for stock in data %}
                                        <tr class="stock-row">
                                            <td class="serial">{{ forloop.counter }}</td>
                                            <td>{{ stock.stock.product__category__name }}</td>
                                            <td>{{ stock.stock.product__size__mm1 }}</td>
                                            <td>{{ stock.stock.product__size__mm2 }}</td>
                                            <td>{{ stock.stock.product__size__name }}</td>
                                            <td>{{ stock.stock.product__grade__name }}</td>
                                            <td>{{ stock.stock.product__thickness__name }}</td>
                                            <td>{{ stock.stock.total_quantity }}</td>
                                        </tr>
                                        <!-- Add an accordion row for sheet numbers -->
                                        <tr class="sheet-numbers">
                                            <td colspan="6">
                                                <!-- Insert your sheet numbers here -->
                                                <ul>
                                                    {% for product_qr in stock.product_qr_entries %}
                                                    
                                                    <li>Finish: {{ product_qr.finish }} &nbsp; &nbsp; Sheet no: {{ product_qr.id }}</li>
                                                
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>

                                       
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="6">No Product Data</td></tr>
                            {% endif %}

                            <tr class="stock-row">
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> </td>
                                <td> Total Stock :-</td>
                                <td class="serial"> {{ total_stock }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-xl-12 -->
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    // Hide all sheet number rows initially
    $(".sheet-numbers").hide();

    // Add click event handler to each stock row
    $(".stock-row").click(function () {
        // Toggle the visibility of sheet numbers for the clicked row
        $(this).next(".sheet-numbers").toggle();
    });

    // Filter table rows based on user input
    $("input").on("keyup", function () {
        var filterMaterial = $("#filter-material").val().toLowerCase();
        var filterLength = $("#filter-length").val().toLowerCase();
        var filterWidth = $("#filter-width").val().toLowerCase();
        var filterSize = $("#filter-size").val().toLowerCase();
        var filterGrade = $("#filter-grade").val().toLowerCase();
        var filterThickness = $("#filter-thickness").val().toLowerCase();

        $(".stock-row").each(function () {
            var material = $(this).find("td:nth-child(2)").text().toLowerCase();
            var length = $(this).find("td:nth-child(3)").text().toLowerCase();
            var width = $(this).find("td:nth-child(4)").text().toLowerCase();
            var size = $(this).find("td:nth-child(5)").text().toLowerCase();
            var grade = $(this).find("td:nth-child(6)").text().toLowerCase();
            var thickness = $(this).find("td:nth-child(7)").text().toLowerCase();

            if (
                material.includes(filterMaterial) &&
                length.includes(filterLength) &&
                width.includes(filterWidth) &&
                size.includes(filterSize) &&
                grade.includes(filterGrade) &&
                thickness.includes(filterThickness)
            ) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });
});
</script>
{% endblock content %}
