{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div style="justify-content: center;display: flex;align-items: center;">
   <a href="{% url 'add_inward' %}"> <button id="payment-button" style="background-color: green; border: green; padding: 10px;border-radius: 12px;" type="button" class="btn-info ">
         <span id="payment-button-amount">Add Inward  +</span>
     </button> </a>

</div><br>



<p>
    
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Filters
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body" style="width: fit-content;">
      

        <form method="get" action="" style="padding:15px;">

            {% csrf_token %}

            <div class="form-group" style="display: flex;
            gap: 14px;">
   
                    
                <label for="name" class="control-label mb-1" style="margin-left : 0px;">Category</label>
                <select name="company_goods" class="form-control" id="company_goods" required="">
                    <option value="" selected="">---------</option>
                  
                    {% for i in company_goods_data %}

                        <option value="{{ i.id }}">{{ i.name }}</option>

                    {% endfor %}
                  
                  
                  </select>
                       
                <label for="name" class="control-label mb-1">Size</label>
                {{ outward_filter.form.goods_company }}
            
            
                <label for="name" class="control-label mb-1" style="margin-left : 0px;">Builty Date From</label>
                {{ outward_filter.form.DC_date_start__date }}
            
    
    
            <label for="name" class="control-label mb-1">Builty Date To</label>
            {{ outward_filter.form.DC_date_end__date }}
    
    
                                            
                    
                </div>
            
            <br>
          
            <button class="btn btn-primary" type="submit" > Submit </button>

        </form>
    </div>
  </div>

  
  <form method="post" action="{% url 'download' %}">

    {% csrf_token %}

    <input type="hidden" value="{{ link }}" name="link">
    <button class="btn btn-primary" type="submit">
        Download Report
    </button> 
</form>



<div style="display:flex;margin-bottom : 20px;">
 
    <label style="color:black;margin-left: 50px;"> Bussiness Year </label>
    
    <select class="form-control" style="width:20%;" id="year">
        
        {% if year %}

            <option>{{ year }}</option>

        {% else %}

            <option>-------------</option>

        {% endif %}
      
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
      
      </select>
    </div>
    
  

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Inward List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Godown</th>
                                <th>Catergoy</th>
                                <th>Size</th>
                                <th>Dc Number</th>
                                <th>Total Packet</th>
                                <th>Employee name</th>
                                <th>Date</th>
                                {% comment %} <th>Transport</th>
                                <th>LR NO</th>
                                <th>Frieght</th> {% endcomment %}
                                <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for i in data %}
                            <tr>
                                <input type="hidden" value="{{ i.id }}">
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ i.godown.name }}</td>
                                <td>{{ i.company_goods.name }}</td>
                                <td>{{ i.goods_company.goods_company_name }}</td>
                                <td>{{ i.DC_number }}</td>
                                <td>{{ i.bags }}</td>
                                <td>{{ i.employee_name }}</td>
                                <td style="min-width:128px;">{{ i.DC_date|date:"d M, Y" }}</td>
                                {% comment %} <td>{{ i.transport }}</td>
                                <td>{{ i.LR_number }}</td>
                                <td>{{ i.freight }}</td> {% endcomment %}

                                <td>  
                                   <a href="{% url 'update_inward' i.id %}"> <button id="payment-button"  style="background-color: green; border: green; padding: 10px;border-radius: 12px;" type="submit" class="btn-info ">
                                        <span id="payment-button-amount">View</span>
                                    </button>  </a>
                                    
                                   
                                </td>
                               
                               
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>

                          
  {% if data.has_other_pages %}
  <nav>
    <ul class="pagination justify-content-center">
      {% if data.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ data.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
      {% endif %}

      {% for p in data.paginator.page_range %}
        {% if data.number == p %}
          <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
      {% endfor %}

      {% if data.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ data.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&raquo;</span>
        </li>
      {% endif %}
  </ul>
  </nav>
{% endif %}


                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>



<script>
    
   

    $("#company").change(function () {
        const comapnyID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "get_company_goods_ajax" %}',
            data: {
                'company_id': comapnyID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="" selected disabled>------------</option>';
                data.forEach(function (data) {
            
                    html_data += `<option value="${data.id}" >${data.name}</option>` 
                });
                $("#company_goods").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });

    $("#company_goods").change(function () {
        const comapny_goods_ID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        var e = document.getElementById("company");
        var comapnyID = e.value;
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "get_goods_company_ajax" %}',
            data: {
                'company_id': comapnyID, 
                'company_goods': comapny_goods_ID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="" selected disabled>------------</option>';
                data.forEach(function (data) {
            
                    html_data += `<option value="${data.id}" >${data.goods_company_name}</option>` 
                });
                $("#goods_company").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });


    $("#company").change(function () {
        const comapnyID = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "get_agent_company_ajax" %}',
            data: {
                'company_id': comapnyID,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="" selected disabled>------------</option>';
                data.forEach(function (data) {
            
                    html_data += `<option value="${data.id}" >${data.name}</option>` 
                });
                $("#agent").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });



    $('#year').change(function(){
        url = window.location.href
        url = url.split('?')[0] 
        url = url + '?year=' + $(this).val()
        location.href = url;
    })
    

    
</script>



{% endblock content %}