<!DOCTYPE html>
<html>
<head>
    <title>QR Code Scanner</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        #scanner-container {
            width: 100%;
            max-width: 500px;
            text-align: center;
        }
        .can {
            -webkit-transform: scale(-1, 1); 
        }
    </style>
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <div id="scanner-container">
        <video id="scanner-video" class="can" playsinline></video>
    </div>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
  <script>
    const scannerContainer = document.getElementById('scanner-container');
    const scannerVideo = document.getElementById('scanner-video');

    Instascan.Camera.getCameras().then(function (cameras) {
        alert('a')
        if (cameras.length > 0) {
            const scanner = new Instascan.Scanner({ video: scannerVideo });
            scanner.addListener('scan', function (content) {
                console.log('Scanned:', content);
                scanner.stop(); 
                $.ajax({
                  type: "POST",
                  url: '{% url "assign_values_to_qr_page" %}',
                  data: {
                      'scanned_value': content,
                      'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                  },
                  success: function (data) {
                      console.log(data.value)
                      if(data.status === "success"){ // Use === for comparison
                        const redirectUrl = data.redirect_url;
                        console.log('Received redirect URL:', redirectUrl);
                        
                        // Redirect the user to the received URL
                        window.location.href = redirectUrl;
                      }
                  }
              });

            });

            const backCamera = cameras.find(camera => camera.name.toLowerCase().includes('back'));
            const constraints = {
                video: {
                    deviceId: { exact: backCamera.id }, // Use the back camera
                },
            };

            navigator.mediaDevices.getUserMedia(constraints)
                .then(function (stream) {
                    scannerVideo.srcObject = stream;
                    scannerVideo.play();
                    scanner.start(backCamera);
                })
                .catch(function (error) {
                    console.error('Error accessing the camera:', error);
                });
        } else {
            console.error('No cameras found.');
        }
    });
  </script>
</body>
</html>
