{% extends 'base/base.html' %}



{% block title %}Create Product{% endblock title %}

{% block head %}


    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    
<style>


    #video {
        display: none;
    }


    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }
    
    
    .table th, .table thead th {
        font-weight: 500;
    }
    
    
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    
    
    .table th {
        padding: 1rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    
    
    .table th, .table thead th {
        font-weight: 500;
    }
    
    
    th {
        text-align: inherit;
    }
    
    
</style>

{% endblock head %}

{% block content %}


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title w-100">Awesome!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Your booking has been confirmed. Check your email for detials.</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>     


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Assign Material Qr</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form onsubmit="submitForm(event)" id="submitform" method="post">
                            {% csrf_token %}

                            
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Cutter</label>

                                <select class="form-control" id="cutter">
                                    <option value="">---------</option>
                                    {% for i in cutter_data %}

                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                </select>
                                

                                <label for="name" class="control-label mb-1">Project ID</label>
                                <input type="text" class="form-control" name="order_id" id="order_id" inputmode="numeric" required>
                               
                            </div>

                            <div class="form-group">
                                
                               
                            </div>
                            
                            <label for="name" class="control-label mb-1"> Raw Material Details</label>

                           
                             

                            <table class="table">
                                <thead class="thead-light" style="background: #e3e3e3;">
                                    <tr>
                                        <td> Category </td>
                                        <td> Size </td>
                                        <td> Grade </td>
                                        <td> Thickness </td>
                                        <td> Used Size </td>
                                        <td> Left Size </td>
                                        <td> Scrap </td>
                                        
                                    </tr>
                                </thead>

                                <tbody>

                                    

                                    <tr class="stock-row">
                                        <input type="hidden" name="materials" value="{{ data.id }}">
                                        <td>{{ data.product.category }}</td>
                                        <td>{{ data.product.size }}</td>
                                        <td>{{ data.product.grade }}</td>
                                        <td>{{ data.product.thickness }}</td>
                                        <td>
                                            <input type="text" class="form-control used-length-input" placeholder="Length" inputmode="numeric">
                                            X
                                            <input type="text" class="form-control used-width-input" placeholder="Width" inputmode="numeric">

                                            <br>
                                            <input type="text" class="form-control used-sq-inch-input" id="used-sq-inch-input" placeholder="Used Square Inches" inputmode="numeric">

                                        </td>
                                        <td>
                                            <input type="text" class="form-control remaining-sq-inch-input" id="remaining-sq-inch-input" placeholder="Remaining Length" required readonly>
                                        </td>
                                        <td><input type="checkbox" class="form-control" name="move_to_scratch"></td>
                                    </tr>
                                 
                                
                                    </tbody>

                                </table>  
 <br>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Update Sheet</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>


{% endblock content %}

{% block js %}
    

<script>


    function updateSubmitButtonState() {
        const leftSizeInput = document.querySelector('.remaining-sq-inch-input');
        const paymentButton = document.getElementById('payment-button');

        // Check if the value in the "Left Size" input is negative
        const leftSizeValue = parseFloat(leftSizeInput.value);
        const isLeftSizeNegative = isNaN(leftSizeValue) || leftSizeValue < 0;

        // Disable or enable the submit button based on the condition
        paymentButton.disabled = isLeftSizeNegative;
    }

    // Add an event listener to the "Left Size" input to check for changes
    document.querySelector("table").addEventListener("input", function (event) {
        if (event.target.classList.contains("remaining-sq-inch-input")) {
            // Update the submit button state whenever "Left Size" input changes
            updateSubmitButtonState();
        }
    });

    // Initial check to set the submit button state when the page loads
    updateSubmitButtonState();

    
    document.querySelector("table").addEventListener("input", function (event) {
        if (
            event.target.classList.contains("used-length-input") ||
            event.target.classList.contains("used-width-input") ||
            event.target.classList.contains("used-sq-inch-input")
        ) {
            var row = event.target.closest(".stock-row");
            var usedLengthInputs = row.querySelectorAll(".used-length-input");
            var usedWidthInputs = row.querySelectorAll(".used-width-input");
            var usedSqInchInput = row.querySelector(".used-sq-inch-input");
            var remainingLengthInput = row.querySelector(".remaining-sq-inch-input");
    
            var totalUsedSqInch = 0;
    
            // Calculate the total used size in square millimeters based on length and width inputs
            for (var i = 0; i < usedLengthInputs.length; i++) {
                var usedLengthInput = parseFloat(usedLengthInputs[i].value);
                var usedWidthInput = parseFloat(usedWidthInputs[i].value);
    
                if (!isNaN(usedLengthInput) && !isNaN(usedWidthInput)) {
                    var usedSizeInSqMillimeters = usedLengthInput * usedWidthInput;
                    totalUsedSqInch += usedSizeInSqMillimeters / (25.4 * 25.4); // Convert to square inches
                }
            }
    
            // Check if the entered value in "Used Square Inches" is a valid number
            var enteredUsedSqInch = parseFloat(usedSqInchInput.value);
    
            if (event.target === usedSqInchInput) {
                // If the input that triggered the event is the "Used Square Inches" input
                // Handle the case where the entered value is not a valid number
                if (isNaN(enteredUsedSqInch)) {
                    usedSqInchInput.value = ""; // Clear the input
                } else {
                    // If a valid value is entered directly in "Used Square Inches" input
                    // Use that value for calculations
                    totalUsedSqInch = enteredUsedSqInch;
    
                    // Clear the "Used Length" and "Used Width" inputs
                    for (var i = 0; i < usedLengthInputs.length; i++) {
                        usedLengthInputs[i].value = "";
                        usedWidthInputs[i].value = "";
                    }
                }
            } else {
                // If the event is triggered by changes in other inputs (length or width)
                // Update the "Used Square Inches" input with the calculated value
                usedSqInchInput.value = totalUsedSqInch.toFixed(2); // Display as two decimal places
            }
    
            // Retrieve the product size in square millimeters from the second <td> (replace with your actual variable)
            var productSizeInSqMillimeters = parseFloat(row.querySelectorAll("td")[1].textContent);
    
            // Calculate the remaining size in square millimeters
            var remainingSizeInSqMillimeters = productSizeInSqMillimeters - totalUsedSqInch; // Convert to square millimeters
    
            // Update the "Remaining Length" input with the calculated value
            remainingLengthInput.value = remainingSizeInSqMillimeters.toFixed(2); // Display as two decimal places
        }

        updateSubmitButtonState();

    });
    
    
    


    function submitForm(e) {
        e.preventDefault();

        var paymentButton = document.getElementById('payment-button');
        var cutter = document.getElementById('cutter').value;
        paymentButton.disabled = true;

        // Change the button color (you can change 'btn-info' to your desired class)
        paymentButton.classList.remove('btn-info');
        paymentButton.classList.add('btn-secondary'); // Change to the desired color class

    
        const rows = document.querySelectorAll('tbody tr');
        let size_arr = 0
        let used_size_arr = 0
        let left_size_arr = 0
        let materialsId_arr = 0
        let move_to_scratch_arr = 0
        rows.forEach((row) => {
            const size = row.querySelectorAll('td')[1].textContent;
            const usedSize = row.querySelector('[id^="used-sq-inch-input"]').value;
            const leftSize = row.querySelector('[id^="remaining-sq-inch-input"]').value;
            const materialsId = row.querySelector('[name="materials"]').value;
            const move_to_scratch_checkbox = row.querySelector('[name="move_to_scratch"]');
            const move_to_scratch = move_to_scratch_checkbox.checked;
    
            size_arr = size
            used_size_arr = usedSize
            left_size_arr = leftSize
            materialsId_arr = materialsId
            move_to_scratch_arr = move_to_scratch
               
        });

        let order_id = document.getElementById("order_id").value;
    
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "update_assign_matarial_qr" product_qr_id %}',
            data: {
                'size': size_arr,       // add the country id to the POST parameters
                'used_size': used_size_arr,       // add the country id to the POST parameters
                'left_size': left_size_arr,       // add the country id to the POST parameters
                'materialsId': materialsId_arr,       // add the country id to the POST parameters
                'move_to_scratch': move_to_scratch_arr,       // add the country id to the POST parameters
                'order_id': order_id,       // add the country id to the POST parameters
                'cutter': cutter,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
    
              console.log(data)
    
              if(data.status == "done"){
                window.location.href = "{% url 'dashboard' %}"
              }
              else{
                console.log(data)
                var errorMessage = data.msg;
                console.log(errorMessage)

                alert(errorMessage)

                var paymentButton = document.getElementById('payment-button');
                paymentButton.disabled = false;
        
                // Change the button color (you can change 'btn-info' to your desired class)
                paymentButton.classList.remove('btn-secondary');
                paymentButton.classList.add('btn-info'); // Change to the desired color class
        

              }
            }
           
        });
        }


</script>

{% endblock js %}